html, body{
	background-color: #f6f6f6;
	font-family:"Roboto", sans-serif;
	margin: 0;
	padding: 0;
	color: #fff;
}

p, h1{
	text-align: left;
}

a{
	/*font-family: Georgia, serif;*/
	cursor: pointer;
}

img{
	width:100%;
}

.wrap{
	width : 1060px;
	margin: 0 auto; 
	height: 100%;
}

.center{
	text-align: center;
}

#fake-page {
	width:100%;
	height:100%;
	bottom: 0px;
	z-index: 3;
	background: #dddddd;
	position: fixed;
	overflow: hidden;
	color: #333;
}

header{
	width:100%;
	top:0px;
	height : 100px;
	background: orange;
}
header h1{

}

#reveal-page{
	width:100%;
	height:100%;
	bottom: 0px;
	position: fixed;
}

#reveal-page{
	width:100%;
	height:100%;
	bottom: 0px;
	position: fixed;
}

#blur-layer{
	width:100%;
	height:100%;
	bottom: 0px;
	z-index: -10; 
	position: fixed;
	background: #000;
	opacity: 0.1;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

#youtubeVid{
	position: fixed; 
	z-index: -99; 
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#share-pannel{
	height : 25%;
	width: 1060px;
	bottom : 0px;
	position: fixed;
}

.container{
	/*position: relative;
	display: block;*/
	width :100%;
	padding: 8px 30px;
	margin: 30px auto;
	
	/*min-width: 300px;
	max-width:600px;*/
	font-size: 15px;
	font-family: Georgia, serif;
	font-weight: 500;
	text-transform: uppercase;
	/*text-shadow: 0 1px 2px rgba(0,0,0,.4);*/
	line-height: 24px;
	letter-spacing: .15em;
	text-align: center;
	vertical-align: middle;
	/*cursor: pointer;*/
	background: none;
	color: #fff;
	border-style:solid;
	border-color:#fff;
	border-radius: 3px;
}

.text-box{
	background: #fff;
	border-style:solid 1px;
	border-color:#afafaf;
	/*border-radius: 1px;*/
	padding : 20px;
}

.message{
	color:#ffffff;
	
	font-family:"Lobster", cursive;
	font-size:120px;
	/*padding : 20px 0 10px 0;*/
	width: 300px;
	margin:100px 0 0 0;
	width:100%;
	text-shadow: 5px 5px #dd4b3b;
}

.cta{
	font-size:20px;
	font-family:"Roboto", sans-serif;
	color : #dd4b3b;
	text-shadow: 1px 1px #fff;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(fonts/Lobster.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto.woff) format('woff');
}